<h1>My Profile</h1>

<h2>Username</h2>
<h6><%= @account.username %></h6>

<h2>Email</h2>
<h6><%= @account.email %></h6>

<h2>Created At</h2>
<h6><%= @account.created_at %></h6>

<h2>Updated At</h2>
<h6><%= @account.updated_at %></h6>

<form  class="form-inputs" action="/action_page.php">
  New Interest<br>
  <input type="text" name="interested">
  
</form> 
