<h1>Editing Group Version Number</h1>

<%= render 'form', group_version_number: @group_version_number %>

<%= link_to 'Show', @group_version_number %> |
<%= link_to 'Back', group_version_numbers_path %>
