<p id="notice"><%= notice %></p>

<p>
  <strong>Version:</strong>
  <%= @group_version_number.version %>
</p>

<%= link_to 'Edit', edit_group_version_number_path(@group_version_number) %> |
<%= link_to 'Back', group_version_numbers_path %>
