<header class="navbar navbar-fixed-top arkamatch-nav">
  <div class="container">
    <span class="arkamatch-header">
      <%= link_to image_tag("Logo.svg", alt: "Arkamatch Logo", width: "80px"), root_path %>
      <div id="arkamatch-id"> Arkamatch </div>
    </span>

    <nav>
      <ul class="nav navbar-nav navbar-right arkamatch-nav-li">
        <li><%= link_to "Home",   home_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>