<!DOCTYPE html>
<html>
<head>
  <title>Arkamatch: Register</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_pack_tag 'home-bundle' %>
  <%= javascript_pack_tag 'home-bundle' %>
</head>
<body>
<%= yield %>
</body>
</html>
